
.recipe-title {
    color: red;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ingredients-title {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}

.ingredients-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.ingredients-list li {
    font-size: 18px;
    line-height: 1.6;
}

.additional {
    font-size: 14px;
    font-style: italic;
}

.optional {
    color: black;
    background-color: yellow;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 16px;
}

s {
    text-decoration: line-through;
}

#note {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 3px solid green;
    font-style: italic;
    text-align: center;
    font-size: 16px;
}
