
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}


form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
}

legend {
    font-size: 1.5em;
    color: #4682b4; 
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

/* Кнопки */
button {
    background-color: #4682b4; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #315f82; 
}


input[type="file"],
input[list="colors"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}


a {
    color: #4682b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

