/* Style for the table */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}


thead th {
    color: white;
    font-weight: bold;
    background-color: rgb(209, 145, 145);
}
thead th:nth-child(2){
    background-color: rgb(216, 117, 117);
}
thead th:nth-child(3){
    background-color: rgb(216, 91, 91);
}
thead th:nth-child(4){
    background-color: rgb(214, 67, 67);
}
thead th:nth-child(5){
    background-color: rgb(216, 32, 32);
}


tbody tr td:first-child {
    background-color: #b23333; 
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f9c8c7; 
}

tbody tr:nth-child(even) {
    background-color: #e46b6b; 
}

td {
    font-size: 18px;
}
