html, body { margin: 0; padding: 0; height: 100%; }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
}
.head {
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo{
    display: inline-block;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
}
.logo > img {
    width: 100px;
}
.navigation {
    user-select: none;
    margin-left: auto;
    list-style: none;
}
.navigation li {
    float: left;
    margin: 0 10px;
}
.navigation a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    background-color: #ff82de;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div {
    padding: 20px;
}



.div-wrapper{
    margin: 100px 50px;
    display: inline-block;
    text-align: justify;
    position: relative;
}

.div-border {
    display: inline-block;
    width: 300px;
    padding: 10px;
    margin: 50px;
    vertical-align: top;
}




.border-type-1 {
    border: 5px solid #fa9000;
    border-radius: 2.5em;
}
.border-type-2 {
    border: 5px solid #fa9000;
    border-radius: 7em 0;
}
.border-type-3 {
    border: 5px solid #fa9000;
    border-radius: 3em 10em;
}
.border-type-4 {
    border: 20px solid;
    border-color: #fa9000 #ffbd67;
    border-radius: 10em / 2em;
}
.border-type-5 {
    border: 20px solid;
    border-color: #fa9000 #ffbd67;
    border-radius: 60% 15%/ 30% 15%;
}
.border-type-6 {
    border: 20px solid;
    border-color: #ffbd67 #ffbd67 #ffbd67 #fa9000;
    border-radius: 0 0 100% 0;
}
.border-type-7 {
    border: double #ffbd67 15px;
    border-image: url("../img/task2/border.png") 18 18 18 18;
}
.border-type-8 {
    border: double #ffbd67 15px;
    border-image: url("../img/task2/border.png") 15 / 15px round;
}
.border-type-9 {
    border: double #ffbd67 15px;
    border-image: url("../img/task2/border.png") 27 / 15px round;
}
.border-type-10 {
    border: double #ffbd67 15px;
    border-image: url("../img/task2/border3.png") 20 10 / 20px stretch;
}
.border-type-11 {
    border: double #ffbd67 15px;
    border-image: url("../img/task2/border3.png") 9 25 / 20px round;
}
.border-type-12 {
    border: double #ffbd67 15px;
    border-image: url("../img/task2/border3.png") 5 17 / 20px stretch;
}